<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.complextest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SpinnerDialogActivity" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.GridViewActivity" />

        <activity android:name=".activity.RecyclerLinearActivity" />
        <activity android:name=".activity.RecyclerGridActivity" />
        <activity android:name=".activity.RecyclerStaggeredActivity" />

        <activity android:name=".activity.CoordinatorActivity" />
        <activity android:name=".activity.ToolbarActivity" />

        <activity android:name=".activity.AppbarRecyclerActivity" />
        <activity android:name=".activity.AppbarNestedActivity" />
        <activity android:name=".activity.CollapsePinActivity" />

        <activity android:name=".activity.CollapseParallaxActivity" />
        <activity android:name=".activity.ImageFadeActivity" />
        <activity android:name=".activity.ScrollFlagActivity" />
    </application>

</manifest>